<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/materia/bootstrap.min.css">
        <style type="text/css">

        body {
            font-family: sans-serif;
        }

        h1 {
            text-align: center;
            margin-top: 30px;
        }
        {% block css %}
        {% endblock %}

        </style>
    </head>
    <body>
        <div class="container">
            {# CUERPO #}
            <h1>Argon Manager</h1>
            <h3>{{ subject }}</h3>
            {% block body %}
            <ul>
                {% for item in content %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
            {% endblock %}
            {# FIN DEL CUERPO #}
            <hr/>
            <small>
            Mensaje autogenerado, si respondes a él posiblemente no obtengas respuesta.<br/>
            Este mensaje ha sido enviado exclusivamente a {{ to }}. Si has recibido por error este correo, elimínalo, por favor.<br/>
            El contenido de este correo electrónico puede ser confidencial.<br/>
            Antes de imprimir este correo, piensa en el medio ambiente.
            </small>
        </div>
    </body>
</html>