<!DOCTYPE html>
<html>
    <head>
        {# META #}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{# FIN META #}
        <title>{% block title %}Argon{% endblock %}</title>
        {# CSS #}
		<link type="text/css" rel='stylesheet' href='{{ asset('assets') }}/css/argon/googlefont.css' />
		<link type="text/css" rel='stylesheet' href="{{ asset('assets') }}/css/argon/fontawesome.css" />
        <link type="text/css" rel="stylesheet" href="{{ asset('assets') }}/css/theme-default/font-awesome.min.css" />
		<link type="text/css" rel="stylesheet" href="{{ asset('assets') }}/css/theme-1/bootstrap.css" />
		<link type="text/css" rel="stylesheet" href="{{ asset('assets') }}/css/theme-1/materialadmin.css" />
		<link type="text/css" rel="stylesheet" href="{{ asset('assets') }}/css/theme-1/material-design-iconic-font.min.css" />
        <link type="text/css" rel="stylesheet" href="{{ asset('assets') }}/css/theme-1/libs/toastr/toastr.css" />
        <link type="text/css" rel="stylesheet" href="{{ asset('assets') }}/css/argon/amcharts-export.css"media="all" />
        <link type="text/css" rel="stylesheet" href="{{ asset('assets') }}/css/argon/jquery.dataTables.min.css" />
        <link type="text/css" rel="stylesheet" href="{{ asset('assets') }}/css/argon/croppr.min.css" />
		{# FIN CSS #}
        {# CSS PROPIO #}
        <style type="text/css">
        body {
            background-image: url('{{ asset("assets") }}/img/background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center; 
        }

        .fade-scale {
            transform: scale(0);
            opacity: 0;
            -webkit-transition: all .25s linear;
            -o-transition: all .25s linear;
            transition: all .25s linear;
        }

        .headerbar {
            position: relative;
            min-height: 50px;
        }

        .card {
            margin-top: 8px;
            box-shadow: 0px 0px 2px black;
        }

        #loading-modal {
            display:    none;
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 255, 255, 255, .8 ) 
                        url('{{ asset('assets') }}/img/loading.svg') 
                        50% 50% 
                        no-repeat;
        }
        {% block css %}
        {% endblock %}
        </style>
        {# FIN CSS PROPIO #}
    </head>
    <body class="menubar-hoverable header-fixed menubar-pin">
        {# BARRA SUPERIOR #}
        <header id="header" class="header-inverse fixed-top">
            <nav class="headerbar">
                <div class="headerbar-left"> {# PARTE IZQUIERDA #}
					<ul class="header-nav header-nav-options">
						<li class="header-nav-brand">
							<div class="brand-holder">
								<a href="{{ url('homepage') }}">
									<span class="text-lg text-bold text-primary">ARGON MANAGER</span>
								</a>
							</div>
						</li>
						<li>
							<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
                <div class="headerbar-right"> {# PARTE DERECHA #}
                    {# WIP #}
                    <ul class="header-nav header-nav-profile">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
								<img id="user_avatar" src="{{ render(controller('AppBundle:Default:Avatar' )) }}">
								<span class="profile-info">
                                    {{ app.user.name }}
									<small>
                                    {{ app.user.rolename }}
                                    </small>
								</span>
							</a>
							<ul class="dropdown-menu animation-dock">
								<li class="dropdown-header">Mi cuenta</li>
								<li><a href="{{ url('me') }}"><i class="fa fa-fw fa-info"></i> Mis datos</a></li> {# datos personales y de contacto #}
                                {% if app.user.role == "ROLE_ADMIN" %}
                                <li class="dropdown-header">Adminland</li>
								<li><a href="{{ url('settings') }}"><i class="fa fa-fw fa-wrench"></i> Preferencias</a></li>{# preferencias de acceso a la cuenta y avatar #}
                                {% endif %}
								<li class="divider"></li>
								<li><a href="{{ url('logout') }}"><i class="fa fa-fw fa-power-off text-danger"></i> Cerrar la sesión</a></li> {# cierra la sesión #}
							</ul><!--end .dropdown-menu -->
						</li><!--end .dropdown -->
					</ul>
                </div>
            </nav>
        </header>
        {# FIN BARRA SUPERIOR #}
        <div id="base">
            <div class="offcanvas"></div>
            {# INICIO CONTENIDO #}
            <div id="content">
                <section>
                    <div class="section-body">
                        {% block content %}
                        {% endblock %}
                    </div>
                </section>
            </div>
            {# FIN CONTENIDO #}
            {# INICIO MENÚ LATERAL #}
            <div id="menubar" class="menubar-inverse animate">
                <div class="menubar-fixed-panel">
                    {# ??? #}
                </div>
                <div class="menubar-scroll-panel">
                    {# LISTADO DE ÍTEMS DEL MENÚ #}
                    <ul id="main-menu" class="gui-controls">
                        {# INICIO #}
                        <li>
                            <a href="{{ url('homepage') }}">
                                <div class="gui-icon">
                                    <i class="fa fa-fw fa-home"></i>
                                </div>
                                <span class="title">Inicio / Visor de Sucesos</span>
                            </a>
                        </li>
                        {# MONITOR EN VIVO #}
                        <li>
                            <a href="{{ url('monitor') }}">
                                <div class="gui-icon">
                                    <i class="fa fa-fw fa-chart-area"></i>
                                </div>
                                <span class="title">Monitor de recursos</span>
                            </a>
                        </li>
                        {# CONSOLA EN VIVO #}
                        <li>
                            <a href="{{ url('console') }}">
                                <div class="gui-icon">
                                    <i class="fa fa-fw fa-terminal"></i>
                                </div>
                                <span class="title">Consola remota</span>
                            </a>
                        </li>
                        {# EXPLORADOR DE FICHEROS #}
                        <li>
                            <a href="{{ url('explorer') }}">
                                <div class="gui-icon">
                                    <i class="fa fa-fw fa-folder-open"></i>
                                </div>
                                <span class="title">Explorador de Ficheros</span>
                            </a>
                        </li>
                        {# PREFERENCIAS (SOLO ADMIN) #}
                        {% if app.user.role == "ROLE_ADMIN" %}
                        <li>
                            <a href="{{ url('settings') }}">
                                <div class="gui-icon">
                                    <i class="fa fa-fw fa-wrench"></i>
                                </div>
                                <span class="title">Preferencias de Argon</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    {# FIN LISTADO DE ÍTEMS DEL MENÚ #}
                </div>
                <div class="menubar-foot-panel">
                    <small class="no-linebreak hidden-folded">
                        <span class="opacity-75">Copyright &copy; 2017-2018</span> <strong>Kyngo.net</strong>
                    </small>
                </div>
            </div>
        {# FIN MENÚ LATERAL #}
        </div>
        
        {# BEGIN JAVASCRIPT #}
        <script src="{{ asset('assets') }}/js/libs/jquery/jquery-1.11.2.min.js"></script>
        <script src="{{ asset('assets') }}/js/argon/jquery.dataTables.min.js"></script>
        <script src="{{ asset('assets') }}/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
        <script src="{{ asset('assets') }}/js/libs/bootstrap/bootstrap.min.js"></script>
        <script src="{{ asset('assets') }}/js/libs/spin.js/spin.min.js"></script>
        <script src="{{ asset('assets') }}/js/libs/autosize/jquery.autosize.min.js"></script>
        <script src="{{ asset('assets') }}/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
        <script src="{{ asset('assets') }}/js/core/source/App.js"></script>
        <script src="{{ asset('assets') }}/js/core/source/AppNavigation.js"></script>
        <script src="{{ asset('assets') }}/js/core/source/AppOffcanvas.js"></script>
        <script src="{{ asset('assets') }}/js/core/source/AppCard.js"></script>
        <script src="{{ asset('assets') }}/js/core/source/AppForm.js"></script>
        <script src="{{ asset('assets') }}/js/core/source/AppNavSearch.js"></script>
        <script src="{{ asset('assets') }}/js/core/source/AppVendor.js"></script>
        <script src="{{ asset('assets') }}/js/libs/toastr/toastr.js"></script>
        <script src="{{ asset('assets') }}/js/argon/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ asset('assets') }}/js/argon/amcharts.js"></script>
        <script src="{{ asset('assets') }}/js/argon/serial.js"></script>
        <script src="{{ asset('assets') }}/js/argon/pie.js"></script>
        <script src="{{ asset('assets') }}/js/argon/moment.min.js"></script>
        <script src="{{ asset('assets') }}/js/argon/moment-with-locales.min.js"></script>
        <script src="{{ asset('assets') }}/js/argon/croppr.js"></script>
        <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
        <script src="{{ asset('assets') }}/js/argon/amcharts_es.js">
        
        <script type="text/javascript">
        var d = new Date();
        $("#user_avatar").attr({"src": "{{ render(controller('AppBundle:Default:Avatar' )) }}?d=" + d.getTime() })
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "debug": false,
            "positionClass": "toast-bottom-left",
            "showDuration": 330,
            "hideDuration": 330,
            "timeOut":  5000,
            "extendedTimeOut": 10000,
            "showEasing": "swing",
            "hideEasing": "swing",
            "showMethod": "slideDown",
            "hideMethod": "slideUp",
            "onclick": null
        }
        </script>
        {% block ajaxSetup %}
        <script type="text/javascript">
        // configurando ajax
        $.ajaxSetup({
            beforeSend: function (){
                $("#loading-modal").show();
            }, complete: function () {
                $("#loading-modal").hide();
            }, error: function () {
                $("#loading-modal").hide();
            }
        });
        </script>
        {% endblock %}
        
        {% block script %}
        {% endblock %}
        {# END JAVASCRIPT #}
        <div id="loading-modal"></div>
    </body>
</html>