{% extends 'base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="card alert alert-callout alert-danger">
            <div class="card-body">
                <h1 style="margin-top: 0px">¡Ha ocurrido un error!</h1>
                {% block error %}
                Error desconocido:<br/>
                <pre>{{ exception.message }}</pre>
                {% endblock %}
                <h5>Si crees que no deberías ver este error y que podría ser un bug, contacta con el administrador del sistema</h5>
            </div>
        </div>
    </div>        
</div>
{% endblock %}