{% extends 'base.html.twig' %}

{% block css %}
h1 {
    margin-top: 12px !important;
}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-head">
                <header>Sucesos del sistema</header>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed" id="logs-table">
                        <thead>
                            <tr>
                                <th>Fecha y Hora</th>
                                <th>Suceso</th>
                            </tr>
                        </thead>
                        <tbody id="logs-viewer">
                        </tbody>
                    </table>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" id="btnRefresh"><i class="fa fa-fw fa-refresh"></i></button>
                    <button type="button" class="btn btn-secondary" onclick="trigger(10)">10</button>
                    <button type="button" class="btn btn-secondary" onclick="trigger(20)">20</button>
                    <button type="button" class="btn btn-secondary" onclick="trigger(50)">50</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-head">
                <header>Información</header>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-condensed table-hover">
                    <tbody id="os_specs">
                    </tbody>
                </table>
            </div>
            <div class="card-head">
                <header>Estadísticas</header>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-condensed table-hover">
                    <tbody id="os_stats">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
var limit = 10;

window.onload = function() {
    moment.locale("es-ES");
    getLogs(10);
    getOS();
     $.ajaxSetup({
        beforeSend: function (){
            return;
        }
    });
}

getSystemLoad();
setInterval(function() {
    getSystemLoad();
}, 2000);

$("#btnRefresh").click(function() {
    $.ajaxSetup({
        beforeSend: function (){
            $("#loading-modal").show();
        }, complete: function () {
            $("#loading-modal").hide();
        }, error: function () {
            $("#loading-modal").hide();
        }
    });
    getLogs(limit);
    $.ajaxSetup({
            beforeSend: function (){
                return;
            }, complete: function () {
                return;
            }, error: function () {
                return;
            }
        });
});

function trigger(ammount) {
    limit = ammount;
    getLogs(ammount);
}

function getSystemLoad() {
    $.ajax({
        url: "{{ url('monitor_ls') }}",
        method: "GET",
        success: function(data) {
            $("#os_stats").empty();
            // cpu
            cpu = 0;
            counter = 0;
            Object.keys(data.cpu_usage).forEach(function(idx) {
                counter++;
                cpu += data.cpu_usage[idx].user + data.cpu_usage[idx].sys;
            });
            cpu = cpu / counter;
            // ram
            ram = Math.round(data.ram.used / 1024) + " MB usados de " + Math.round(data.ram.total / 1024) + " MB";
            $("#os_stats").append(
                "<tr><td>CPU</td><td>" + Math.round(cpu * 100) / 100 + "%</td></tr><tr><td>RAM</td><td>" + ram + "</td></tr>"
            );
        }, error: function() {
            $("#os_stats").empty().append(
                "<tr><td colspan=\"2\">Ha ocurrido un error al procesar los datos.</td></tr>"
            );
        }
    });
}

function getOS() {
    $.ajax({
        url: "{{ url('uname') }}",
        method: "GET",
        success: function(data) {
            Object.keys(data).forEach(function(idx) {
                var reg = "";
                switch(idx) {
                    case "os":
                        reg = "Sistema Operativo";
                        break;
                    case "kernel":
                        reg = "Núcleo";
                        break;
                    case "version":
                        reg = "Versión";
                        break;
                    case "arch":
                        reg = "Arquitectura";
                        break;
                    case "desc":
                        reg = "Distribución";
                        break;
                }
                $("#os_specs").append("<tr><td>" + reg + "</td><td>" + data[idx] + "</td></tr>");
            });
        }, error: function() {
            $("#os_specs").empty().append(
                "<tr><td colspan=\"2\">Ha ocurrido un error al procesar los datos.</td></tr>"
            );
        }
    });
}

function getLogs(limit) {
    $.ajax({
        url: "{{ url('logs') }}?limit=" + limit,
        method: "GET",
        success: function(data) {
            $("#logs-viewer").empty();
            if (data.length == 0) {
                $("#logs-viewer").empty().append(
                    "<tr><td colspan=\"2\">Por aquí no hay absolutamente nada de nada...</td></tr>"
                );
                return;
            }
            data.forEach(function(idx) {
                switch(idx.category) {
                    case 1:
                        type = " class=\"success\"";
                        break;
                    case 2:
                        type = " class=\"info\"";
                        break;
                    case 3:
                        type = " class=\"warning\"";
                        break;
                    case 4:
                        type = " class=\"danger\"";
                        break;
                    default:
                        type = "";
                        break;
                }
                $("#logs-viewer").append(
                    "<tr" + type + "><td>" + moment(idx.date.date, "YYYY-MM-DD HH:mm:ss.SSS").utc().format('DD/MM/YYYY HH:mm:ss') + "</td><td>" + idx.message + "</td></tr>"
                );
            });
        }, error: function() {
            $("#logs-viewer").empty().append(
                "<tr><td colspan=\"2\">Ha ocurrido un error al procesar los datos.</td></tr>"
            );
        }
    });
}
</script>
{% endblock %}
