{# MODAL DE TELEFONOS #}
<div class="modal" id="it-contact">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Contacto con IT</h5>
            </div>
            <div class="modal-body">
                <table class="table table-hoverable">
                    <thead>
                        <tr>
                            <th>Alias</th>
                            <th>Rango</th>
                            <th>Correo</th>
                            {% if settings.show_phones == "true" %}
                            <th>Teléfono</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>{{ user.rolename }}</td>
                                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                                {% if settings.show_phones == "true" %}
                                {% if user.phone != "" %}
                                <td><a href="tel:{{ user.phone }}">{{ user.phone }}</a></td>
                                {% else %}
                                <td>---</td>
                                {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>