{% extends 'base.html.twig' %}

{% block css %}
button {
    margin-top: 10px;
}

.croppr-container,
.croppr {
    text-align: center;
}

{% endblock %}

{% block content %}
<div class="card col-md-8 col-md-offset-2">
    <form id="me_form" class="form-horizontal" action="{{ url('update_me') }}" method="post" style="margin-top: 25px;">
        <input type="hidden" id="user_id" name="user_id" value="{{ user.id }}">
        <div class="card-head">
            <h1 class="text-light text-center" style="margin-top: 0px">Editando usuario</h1>
        </div>
        <div class="card-body">
            {# NOMBRE DE USUARIO #}
            <div class="form-group">
                <label for="userName" class="col-lg-3 control-label">Nombre de usuario</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="userName" placeholder="Si ves esto, algo va pero que muy mal..." value="{{ user.username }}" readonly>
                </div>
            </div>
            {# ALIAS #}
            <div class="form-group">
                <label for="userAlias" class="col-lg-3 control-label">Alias</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" name="userAlias" id="userAlias" placeholder="Alias de usuario" value="{{ user.name }}">
                </div>
            </div>
            {# TELÉFONO #}
            <div class="form-group">
                <label for="userPhone" class="col-lg-3 control-label">Teléfono de contacto</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" name="userPhone" id="userPhone" placeholder="Número de telefono" value="{{ user.phone }}">
                </div>
            </div>
            <div class="form-group">
                <label for="userMail" class="col-lg-3 control-label">Correo electrónico</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" name="userEmail" id="userEmail" placeholder="Correo electrónico" value="{{ user.email }}">
                </div>
            </div>
            {# CONTRASEÑA #}
            <div class="form-group">
                <label for="userPassword" class="col-lg-3 control-label">Nueva contraseña</label>
                <div class="col-lg-9">
                    <input type="password" class="form-control" name="newPassword" id="newPassword">
                </div>
            </div>
            {# CONTRASEÑA 2 #}
            <div class="form-group">
                <label for="userPassword" class="col-lg-3 control-label">Confirma contraseña</label>
                <div class="col-lg-9">
                    <input type="password" class="form-control" name="newPasswordConfirm" id="newPasswordConfirm">
                </div>
            </div>
            {# ADMIN? #}
            {% if app.user.id != user.id %}
            <div class="checkbox checkbox-styled text-center">
                <label>
                    <input type="checkbox" value="true" name="isAdmin" id="isAdmin" {% if user.role == "ROLE_ADMIN" %}checked="checked"{% endif %}>
                    <span>¿Administrador?</span>
                </label>
            </div><br/>
            {% endif %}
            {# AVATAR #}
            {% if app.user.id == user.id %}
            <form id="avatar_form" action="{{ url('avatar_upload') }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="userPhoto" class="col-lg-3 control-label">Foto de perfil</label>
                    <div class="col-lg-9">
                        <input type="file" class="form-control" id="photo" name="photo" onChange="resizeme(this)" accept=".jpg,.jpeg,.png,.gif">
                    </div>
                </div>
            </form>
            {% endif %}
            <center>
                <button type="submit" class="btn btn-info text-center">Actualizar</button>
            </center>
        </div>
    </form>
</div>
<div id="m"></div>
<div id="avatar-modal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Redimensiona el avatar</h5>
            </div>
            <div class="modal-body" id="avt-body">
                <img id="avt-resize" style="max-height: 400px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSaveAvatar">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

var crop = undefined;

function resizeme(input) {
    var formData = new FormData($("#me_form")[0]);
    var file_data = $('#photo').prop('files')[0];
    if (file_data == null) {
        return;
    }
    formData.append('file', file_data);
    formData.append('user_id', $("#user_id").val());
    $.ajax({
        url: "{{ url('avatar_upload') }}?tmp=true",
        type: "post",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        success: function(data) {
            $("#avt-body").empty().append("<img id=\"avt-resize\" style=\"max-height: 400px;\">");
            var d = new Date();
            $("#avt-resize")
                .attr({"src": "{{ asset('assets') }}/img/tmp_avt/{{ app.user.username }}?d=" + d.getTime()});
            $("#avatar-modal").modal('show');
            
            crop = new Croppr("#avt-resize", {
                aspectRatio: 1
            });
        }, error: function(data) {
            toastr.error("Ha ocurrido un error al procesar el archivo.");
        }
    });
}

$("#btnSaveAvatar").click(function() {
    console.log(crop.getValue());
    sizes = crop.getValue();
    var formData = new FormData();
    formData.append('x', sizes.x);
    formData.append('y', sizes.y);
    formData.append('width', sizes.width);
    formData.append('height', sizes.height);
    $.ajax({
        url: "{{ url('avatar_upload') }}",
        type: "post",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        success: function(data) {
            $("#avatar-modal").modal('hide');
            toastr.success("¡Avatar actualizado!");
            document.getElementById("photo").value = "";
            var d = new Date();
            $("#user_avatar")
                .attr({"src": "{{ asset('assets') }}/img/avatars/{{ app.user.username }}?d=" + d.getTime()})
        }, error: function(data) {
            toastr.error("Ha ocurrido un error al procesar el archivo.");
        }
    });
});

$("#me_form").submit(function(e) {
    e.preventDefault(e);
    if ($("#newPassword").val() != $("#newPasswordConfirm").val()) { // wrong password
        toastr.error("¡Las contraseñas no coinciden!");
    } else {
        $.ajax({
            url: "{{ url('update_me') }}",
            type: "POST",
            data: {
                user_id: $("#user_id").val(),
                userAlias: $("#userAlias").val(),
                userPhone: $("#userPhone").val(),
                userEmail: $("#userEmail").val(),
                newPassword: $("#newPassword").val(),
                newPasswordConfirm: $("#newPasswordConfirm").val(),
                isAdmin: $("#isAdmin").is(':checked')
            },
            success: function(data) {
                console.log(data);
                toastr.success("¡Datos guardados con éxito!");
            }, error: function(data) {
                console.log(data);
                toastr.error("Ha ocurrido un error al intentar guardar los datos. Inténtalo de nuevo más tarde.");
            }
        });
    }
    return false;
});

</script>
{% endblock %}
