{% extends 'base.html.twig' %}

{% block css %}
iframe {
    width: 100%;
    height: 32em;
    resize: both;
    overflow: auto;
}

button {
    margin-top: 10px;
}

.text-light {
    margin-top: inherit;
}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h1 class="text-light">Consola remota</h1>
                <iframe id="shell" src="/shellinabox">
                Tu navegador no soporta iFrames.
                </iframe><br/>
                <button id="shell-reload" class="btn btn-warning" onclick="$('#shell').attr({'src': '/shellinabox'})">Recarga la consola</button>
                <button id="shell-newwin" class="btn btn-warning">Ventana indepediente</button>
                <button id="shell-newwin" class="btn btn-danger" onclick="$('#help_modal').modal('show')">¿No funciona?</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="help_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¿No funciona?</span></h5>
                </button>
            </div>
            <div class="modal-body">
                El script de instalación ha generado un proxy para que ShellInABox actúe a través de Apache2, para usar el certificado propio de Argon.
                Si no funciona, revisa los registros de Apache2 o ShellInABox. Puedes hacerlo des del explorador de ficheros integrado en Argon.<br/>
                <b>NOTA</b>: Si ejecutas Argon des del servidor de Symfony no funcionará.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">De acuerdo</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$("#shell-newwin").click(function() {
    window.open('/shellinabox','window','toolbar=no, menubar=no, resizable=yes, width=600, height=260');
});
</script>
{% endblock %}
