{% extends "base.html.twig" %}

{% block css %}
.card {
    background-color: #ffffff !important;
}

.btn-right {
    float: right;
}
{% endblock %}

{% block content %}
<div class="container card tabs-right style-default-light">
    <ul class="card-head nav nav-tabs text-center" data-toggle="tabs">
        <li class="active">
            <a href="#comms">
                <i class="fa fa-lg fa-paper-plane"></i>
                <br>
                <h4>Contacto<br>
                    <small>Correo y Telegram</small>
                </h4>
            </a>
        </li>
        <li>
            <a href="#users">
                <i class="fa fa-lg fa-user"></i>
                <br>
                <h4>Cuentas<br>
                    <small>Usuarios y roles</small>
                </h4>
            </a>
        </li>
        <li>
            <a href="#faq">
                <i class="fa fa-lg fa-question-circle"></i>
                <br>
                <h4>FAQ<br>
                    <small>Preguntas frecuentes</small>
                </h4>
            </a>
        </li>
        <li>
            <a href="#about">
                <i class="fa fa-lg fa-info"></i>
                <br>
                <h4>Acerca de<br>
                    <small>Información y detalles</small>
                </h4>
            </a>
        </li>
        
    </ul>
    {# Contacto #}
    <div class="card-body tab-content style-default-bright">
        <div class="tab-pane active" id="comms">			
            <h1 class="text-light">Contacto</h1>
            <p>
            Argon puede ponerse en contacto contigo si hay alguna emergencia de dos formas: por correo electrónico, o por Telegram.<br/>
            Puedes tener ambos métodos o ninguno, pero la recomendación es que cuanto más te abras a recibir notificaciones, antes podrás solucionar cualquier problema.<br/><br/>
            Si no quieres tener configurada alguna de las opciones, deja dichos campos en blanco.
            </p><hr/>
            <div class="row">
                {# Mail #}
                <form id="comms_mail_form" class="form col-md-6">
                    <h3 class="text-light">Correo electrónico</h3>
                    <p>Puedes configurar los parámetros de correo electrónico editando el fichero ubicado en <code>app/config/parameters.yml</code>.
                    Al estar Argon diseñado con la tecnología Symfony, hacerlo de esta manera es más efectivo y seguro.</p>
                    {#
                    <small>Crea una cuenta de correo electrónico e introduce los datos de acceso aquí.</small>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="text" class="form-control" name="mail_account" id="mail_account">
                        <label for="mail_account">Dirección de correo</label>
                    </div>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="password" class="form-control" name="mail_passwd" id="mail_passwd">
                        <label for="mail_passwd">Contraseña</label>
                    </div>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="text" class="form-control" name="mail_smtp" id="mail_smtp">
                        <label for="mail_smtp">Servidor SMTP</label>
                    </div>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="text" class="form-control" name="mail_imap" id="mail_imap">
                        <label for="mail_imap">Servidor IMAP</label>
                    </div>
                    #}
                </form>

                {# Telegram #}
                <form id="comms_telegram_form" class="form col-md-6">
                    <h3 class="text-light">Telegram</h3>
                    <small><a style="text-decoration: underline" href="https://t.me/BotFather">Crea un bot en Telegram</a>, añádele a un grupo e introduce los Token aquí.</small><br/>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="password" class="form-control" name="tg_token" id="tg_token" value="{{ settings.tg_token }}">
                        <label for="tg_token">Token de Telegram</label>
                    </div>
                    <div class="form-group floating-label">
                        <label for="tg_token">Identificador del grupo de Telegram</label>
                        <div class="input-group">
                            <div class="input-group-content">
                                <input autocomplete="new-password" type="text" class="form-control" name="tg_gid" id="tg_gid" value="{{ settings.tg_group }}">
                            </div>
                            <div class="input-group-btn">
                                <button onclick="$('#tg_group_modal').modal()"class="btn btn-default" type="button"><i class="fa fa-fw fa-question-circle"></i></button>
                            </div>
                        </div>
                    </div>
                    <small>Argon no recolecta datos ni mensajes de los usuarios cuando es añadido a Telegram, este servicio únicamente envía mensajes. Puedes usar el mismo bot en varias instancias de Argon si lo deseas.</small>
                </form>
            </div><hr/>
            {# Número de teléfono #}
            <form id="phone_form" class="form">
                <h3 class="text-light">Mostrar teléfonos</h3>
                <small>Los teléfonos de los informáticos se muestran en la pantalla de inicio de sesión de Argon, pero pueden ocultarse.</small>
                <div class="checkbox checkbox-styled">
                    <label>
                        <input type="checkbox" value="true" name="phone_visible" id="phone_visible" {% if settings.show_phones == "true" %}checked="checked"{% endif %}>
                        <span>¿Mostrar?</span>
                    </label>
                </div>
            </form>
            <div class="text-center">
            <form id="submit" action="." method="post">
                <button type="submit" class="btn btn-info">Guardar</button>
            </form>
            </div>
        </div>
        {# Cuentas de usuario #}
        <div class="tab-pane" id="users">
            <h1 class="text-light" style="display: inline-block">Cuentas</h1>
            <button class="btn btn-info btn-right" onclick="$('#adduser_modal').modal()">Añadir usuario</button>
            <h3 class="text-light">Listado de usuarios</h3>
            <table class="table table-condensed table-hoverable">
                <thead>
                    <tr>
                        <th>Nombre de usuario</th>
                        <th>Alias</th>
                        <th>Rol</th>
                        <th>¿Editar?</th>
                        <th>¿Eliminar?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.name }}</td>
                        <td>{% if user.role == "ROLE_ADMIN" %}Administrador{% else %}Informático{% endif %}</td>
                        <td><a class="btn btn-info" href="{{ url('edituser') }}?query={{ user.id }}">Editar</a></td>
                        <td><a class="btn btn-danger" {% if user.role == "ROLE_ADMIN" %}disabled="disabled"{% else %}onclick="remove('{{ user.id }}')"{% endif %}>Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {# FAQ #}
        <div class="tab-pane" id="faq">
            <h1><span class="text-light">Preguntas</span> frecuentes</h1>
            
            <b>¿Con qué sistemas operativos es compatible Argon?</b><br/>
            <i>Por ahora, Argon sólo es compatible con distribuciones GNU/Linux basadas en Debian. Más adelante se tendrá más compatibilidad.</i><br/><br/>

            <b>¿Cuántos servidores a la vez puedo controlar con Argon?</b><br/>
            <i>Por ahora, uno. La idea es que cada máquina tenga una instancia de Argon Manager, para evitar sobrecargar un servidor con información de cientos.</i><br/><br/>

            <b>¿Puedo instalar Argon en más de un servidor, por eso?</b><br/>
            <i>Por supuesto que sí. Una vez descargado puedes ponerlo en tantos servidores como quieras.</i><br/><br/>

            <b>¿Cómo se debería configurar el cortafuegos con respecto a Argon?</b><br/>
            <i>Lo ideal es que sólo se pueda acceder des de una red local, o des de una o varias IP específicas. Puedes configurar tu cortafuegos de elección de la forma que desees, pero no se recomienda que Argon sea accesible para todo el mundo.</i><br/><br/>

            <b>¿Se puede acceder a Argon des del móvil?</b><br/>
            <i>Si el móvil está dentro de una red permitida para acceder, no hay razón para que no pueda. Aun así, la experiencia será mejor des de ordenador.</i><br/><br/>

        </div>
        {# Acerca de #}
        <div class="tab-pane" id="about">
            <h1>Argon <span class="text-light">Manager</span> <small>versión de desarrollo</small></h1>
            <h3 class="text-light">Panel de Control vía web</h3>
            <p>Creado por Arnau "Kyngo" Martín, en colaboración con el INS Joaquim Mir, como Proyecto de Final de Grado Superior en Desarrollo de Aplicaciones Web.</p>
            <p>Librerías de terceros usadas:
                <ul>
                    <li><b>Tema</b>: Material Admin, por CodeCovers</li>
                    <li><b>Backend</b>: Symfony, por Fabien Potencier y el equipo de SensioLabs</li>
                    <li><b>Gráficos y estadísticas</b>: AmCharts (¡donaron una licencia para este proyecto!)</li>
                    <li><b>Consola</b>: Shell In A Box</li>
                    <li><b>Librerías adicionales</b>: MomentJS, jQuery, Google Font API, Bootstrap, Font Awesome</li>
                    <li><b>Imágenes</b>: Loading.IO (animación de carga), pexels.com (fondo)</li>
                </ul>
            </p>
            <p>Este proyecto está protegido bajo licencia de uso propietario, con partes de código abierto. La distribución de las partes de código propietario sin consentimiento de sus autores constituye un delito de robo y piratería.</p>
        </div>
    </div>
</div>

<div class="modal" id="adduser_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo usuario</h5>
                </button>
            </div>
            <form action="#" id="useradd_form" class="form">
                <div class="modal-body">
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="text" class="form-control" name="new_username" id="new_username">
                        <label for="new_username">Nombre de usuario</label>
                    </div>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="password" class="form-control" name="new_password" id="new_password">
                        <label for="new_password">Contraseña</label>
                    </div>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="password" class="form-control" name="new_password_confirm" id="new_password_confirm">
                        <label for="new_password_confirm">Confirmar contraseña</label>
                    </div>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="text" class="form-control" name="new_nickname" id="new_nickname">
                        <label for="new_nickname">Apodo</label>
                    </div>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="email" class="form-control" name="new_email" id="new_email">
                        <label for="new_email">Correo electrónico</label>
                    </div>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="number" class="form-control" name="new_phone" id="new_phone">
                        <label for="new_phone">Teléfono (opcional)</label>
                    </div>
                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="true" name="new_is_admin" id="new_is_admin">
                            <span>¿Administrador?</span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="edituser_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar usuario <span id="user_to_edit">NOMBRE_DE_USUARIO</span></h5>
                </button>
            </div>
            <form action="#" id="useredit_form" class="form">
                <div class="modal-body">
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="text" class="form-control" name="edit_username" id="edit_username">
                        <label for="new_username">Nombre de usuario</label>
                    </div>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="password" class="form-control" name="edit_password" id="edit_password">
                        <label for="new_password">Contraseña</label>
                    </div>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="password" class="form-control" name="edit_password_confirm" id="edit_password_confirm">
                        <label for="new_password_confirm">Confirmar contraseña</label>
                    </div>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="text" class="form-control" name="edit_nickname" id="edit_nickname">
                        <label for="new_nickname">Apodo</label>
                    </div>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="email" class="form-control" name="edit_email" id="edit_email">
                        <label for="new_email">Correo electrónico</label>
                    </div>
                    <div class="form-group floating-label">
                        <input autocomplete="new-password" type="number" class="form-control" name="edit_phone" id="edit_phone">
                        <label for="new_phone">Teléfono (opcional)</label>
                    </div>
                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="true" name="edit_is_admin" id="edit_is_admin">
                            <span>¿Administrador?</span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="tg_group_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¿Cómo obtener el ID de un grupo?</span></h5>
                </button>
            </div>
            <div class="modal-body">
                <p>Un ID de grupo de Telegram es un número de alrededor de trece dígitos, precedido de un símbolo de negación (-).</p><br/>
                <p>Tienes dos formas de obtener un ID de grupo:
                <ol>
                    <li>Añade a <a style="text-decoration: underline" target="_blank" href="https://t.me/kyngobot">@KyngoBot</a> en tu grupo, y ejecuta el comando <code>/info</code> en éste. El bot te dirá el ID del grupo.</li>
                    <li>Usa <a style="text-decoration: underline" target="_blank" href="https://play.google.com/store/apps/details?id=org.telegram.plus">Plus Messenger para Android</a>. Este cliente no oficial te dirá el ID del grupo en el menú de información de éste.</li>
                </ol></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">¡De acuerdo!</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$("#useradd_form").submit(function(data) {
    if ($("#new_password").val() == $("#new_password_confirm").val() && $("#new_password_confirm").val() != "") {
        $.ajax({
            url: "{{ url('adduser') }}",
            method: "POST",
            data: {
                username: $("#new_username").val(),
                password: $("#new_password").val(),
                name: $("#new_nickname").val(),
                email: $("#new_email").val(),
                phone: $("#new_phone").val(),
                admin: $("#new_is_admin").is(':checked')
            },
            success: function(data) {
                toastr.success(data);
                $('#adduser_modal').modal('hide');
            }, error: function(err) {
                toastr.error(err);
            }
        });
    } else {
        toastr.error("¡La contraseña está vacía o no es válida!");   
    } 
    return false;
});

$("#useredit_form").submit(function(data) {
    if ($("#edit_password").val() == $("#edit_password_confirm").val() && $("#edit_password_confirm").val() != "") {
        $.ajax({
            url: "{{ url('edituser') }}",
            method: "POST",
            data: {
                username: $("#edit_username").val(),
                password: $("#edit_password").val(),
                name: $("#edit_nickname").val(),
                email: $("#edit_email").val(),
                phone: $("#edit_phone").val(),
                admin: $("#edit_is_admin").is(':checked')
            },
            success: function(data) {
                toastr.success(data);
                $('#edituser_modal').modal('hide');
            }, error: function(err) {
                toastr.error(err);
            }
        });
    } else {
        toastr.error("¡La contraseña está vacía o no es válida!");   
    } 
    return false;
});

$("#submit").submit(function(e) {
    e.preventDefault();
     $.ajax({
            url: "{{ url('settings_update') }}",
            method: "POST",
            data: {
                tg_token: $("#tg_token").val(),
                tg_group: $("#tg_gid").val(),
                show_phones: $("#phone_visible").is(':checked')
            },
            success: function(data) {
                toastr.success(data.status);
            }, error: function(err) {
                toastr.error(err);
            }
        });
    return false;
});

function remove(user) {
    if (confirm("¿Seguro que quieres borrar esta cuenta?")) {
        $.ajax({
            url: "{{ url('deluser') }}?user=" + user,
            method: 'GET',
            success: function(data) {
                toastr.success(data);
            }, error: function(err) {
                console.log(err);
                toastr.error(err.responseText);
            }
        });
    }
}

function edit(user) {
    
}
</script>
{% endblock %}