{% extends 'base.html.twig' %}

{% block css %}
.card-body {
    padding: 8px !important;
}

.chart {
    width: 100%;
}

.chart-md {
    height: 400px;
}

.chart-sm {
    height: 300px;
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .chart-sm {
        width: 100% !important;
    }
}

@media screen and (min-width: 768px) {
    .chart-sm {
        width: 33% !important;
    }
}


img.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.loading {
    text-align: center;
}

#graphs_disks {
    margin-bottom: 15px;
}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- grafico de cpu -->
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-head">
                    <header>Procesador</header>
                </div>
                <div class="card-body">
                    <div class="chart chart-md" id="graph_cpu">
                        <img class="loading" src="{{ asset('assets') }}/img/loading.svg ">
                    </div>
                </div>
            </div>
        </div>

        <!-- grafico de ram -->
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-head">
                    <header>Memoria</header>
                </div>
                <div class="card-body">
                    <div class="chart chart-md" id="graph_ram">
                        <img class="loading" src="{{ asset('assets') }}/img/loading.svg ">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- graficos de uso de discos -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-head">
                    <header>Almacenamiento</header>
                </div>
                <div class="card-body" style="padding-bottom: 8px !important">
                    <div id="graphs_disks">
                        <img class="loading" src="{{ asset('assets') }}/img/loading.svg ">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- datos de red -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-head">
                    <header>Interfaces de red</header>
                </div>
                <div class="card-body">
                    <div class="col-md-4 text-center">
                        <h1><small>Tu IP pública es<br/></small><label id="public_ip"></label></h1>
                    </div>
                    <div class="col-md-8">
                        <table class="table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>IPv4</th>
                                    <th>IPv6</th>
                                </tr>
                            </thead>
                            <tbody id="network_interfaces"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block ajaxSetup %}
{# tener esto vacío hace que no tengamos animaciones de ajax cada pocos segundos #}
{% endblock %}

{% block script %}
<script src="{{ asset('assets') }}/js/argon/monitor.js"></script>
{% endblock %}