{#
== ARGON ==
-------------------------------------
 Página de inicio de sesión
-------------------------------------
Esta página no tiene ninguna base ni extiende de
otros documentos, puesto que tiene un diseño 
completamente distinto a las demás.
-------------------------------------
Copyright (C) 2017-2018 Arnau "Kyngo" Martín
Copyright (C) CodeCovers (tema)
#}

{# Esta variable contiene la ruta absoluta al directorio donde se hallan app*.php y la carpeta "assets" #}

<html lang="en">
    <head>
		<title>Argon - Iniciar sesión</title>
		{# BEGIN META #}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="your,keywords">
		<meta name="description" content="Short explanation about this website">
		{# END META #}

		{# BEGIN STYLESHEETS #}
		<link type="text/css" rel='stylesheet' href='{{ asset('assets') }}/css/argon/googlefont.css'/>
		<link type="text/css" rel="stylesheet" href="{{ asset('assets') }}/css/theme-default/bootstrap.css?1422792965">
		<link type="text/css" rel="stylesheet" href="{{ asset('assets') }}/css/theme-default/materialadmin.css?1425466319">
		<link type="text/css" rel="stylesheet" href="{{ asset('assets') }}/css/theme-default/font-awesome.min.css?1422529194">
		<link type="text/css" rel="stylesheet" href="{{ asset('assets') }}/css/theme-default/material-design-iconic-font.min.css?1421434286">
		{# END STYLESHEETS #}

		{# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
		{#[if lt IE 9]>
		<script type="text/javascript" src="{{ asset('assets') }}/js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" src="{{ asset('assets') }}/js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]#}
        {# CSS #}
        <style type="text/css">
        body {
            background: url('{{ asset('assets') }}/img/login_wp.png') repeat;
        }
        </style>
    </head>
	<body class="menubar-hoverable header-fixed ">
		{# BEGIN LOGIN SECTION #}
		<section class="section-account">
            <div class="spacer" style="height: 20% !important;">
                    {% if error %}
                    <div class="col-md-4 col-md-offset-4 alert alert-danger alert-dismissible" style="margin-top: 20px;">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Ha ocurrido un problema al iniciar sesión...</strong><br>
                        ¿Quizá el usuario o la contraseña estaban mal?<br>
                        Error detallado: {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                    {% endif %}
            </div>
            <div class="card contain-xs">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="{{ asset('assets') }}/img/argon_logo.png" style="width: 100%; height: auto"> {# logo #}
                        </div>
                    </div>
                    <div class="row">
                <div class="col-sm-12">
                <br><span class="text-lg text-bold text-primary">ACCESO RESTRINGIDO</span><br><br>
                <form class="form floating-label" action="{{ path('login') }}" accept-charset="utf-8" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="_username">
                        <label for="username">Usuario</label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="_password">
                        <label for="password">Contraseña</label>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn btn-primary btn-raised" type="submit">Acceder</button>
                        </div>{#end .col #}
                        <div class="col-xs-6 text-right">
                            <button class="btn btn-danger" id="btnIt" onclick="$('#it-contact').modal()">Contacta con IT</button>
                        </div>
                    </div>{#end .row #}
                </form>
            </div>{#end .card #}
        </section>
            {# END LOGIN SECTION #}
        <div id="device-breakpoints">
            <div class="device-xs visible-xs" data-breakpoint="xs"></div>
            <div class="device-sm visible-sm" data-breakpoint="sm"></div>
            <div class="device-md visible-md" data-breakpoint="md"></div>
            <div class="device-lg visible-lg" data-breakpoint="lg"></div>
        </div>
        {% include 'parts/contact_modal.html.twig' %}
    </body>
    {# BEGIN JAVASCRIPT #}
    <script src="{{ asset('assets') }}/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="{{ asset('assets') }}/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ asset('assets') }}/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="{{ asset('assets') }}/js/libs/spin.js/spin.min.js"></script>
    <script src="{{ asset('assets') }}/js/libs/autosize/jquery.autosize.min.js"></script>
    <script src="{{ asset('assets') }}/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="{{ asset('assets') }}/js/core/source/App.js"></script>
    <script src="{{ asset('assets') }}/js/core/source/AppNavigation.js"></script>
    <script src="{{ asset('assets') }}/js/core/source/AppOffcanvas.js"></script>
    <script src="{{ asset('assets') }}/js/core/source/AppCard.js"></script>
    <script src="{{ asset('assets') }}/js/core/source/AppForm.js"></script>
    <script src="{{ asset('assets') }}/js/core/source/AppNavSearch.js"></script>
    <script src="{{ asset('assets') }}/js/core/source/AppVendor.js"></script>
    <script src="{{ asset('assets') }}/js/core/demo/Demo.js"></script>
    <script>
    $("#btnIt").click(function(e) {
        e.preventDefault();
        return false;
    })
    </script>
    {# END JAVASCRIPT #}
</html>