{% extends 'base.html.twig' %}

{% block css %}
button {
    margin-top: 15px;
}

#text_area {
    width: 100%;
    height: 400px;
}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form>
            <label for="current_directory">Ruta</label>
            <input type="text" style="width:100%" id="current_directory">
            <button type="submit" class="btn btn-success" onclick="getDirectoryList($('#current_directory').val())">Navega</button>
            <button class="btn btn-info" onclick="getDirectoryList(currentDir)"><i class="fa fa-fw fa-refresh"></i></button>
            <button class="btn btn-info" onclick="upOneLevel()"><i class="fa fa-fw fa-level-up"></i></button>
        </form>
        <hr/>
        <div id="explorer-content" class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Tamaño</th>
                        <th>Permisos</th>
                        <th>Propietario</th>
                    </tr>
                </thead>
                <tbody id="explorer-content-list">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal" id="file_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leyendo el fichero <label id="file_name"></label> (sólo lectura)</h5>
            </div>
            <div class="modal-body">
                <div id="text_area"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
// ace
var editor = ace.edit("text_area");
var session = editor.session;
session.setNewLineMode("unix");
editor.setTheme("ace/theme/monokai");
editor.blur();

// explorador
var currentDir = "/";
getDirectoryList(currentDir);
function getDirectoryList(dir) {
    if (!dir.match(/(^\/.*)/g)) {
        alert("El directorio indicado no es válido.");
        return;
    }
    dir += "/";
    dir = dir.replace(/\/+/g, "/");
    $.ajax({
        url: "{{ url('explorer_ls') }}?dir=" + dir,
        type: "GET",
        success: function(data) {
            currentDir = dir;
            $("#current_directory").empty().val(dir);
            var items = [];
            $("#explorer-content-list").empty();
            data.forEach(function(idx) {
                var res = "<tr";
                // inicio del elemento
                if (idx.type == "directory") {
                    if (dir != "/") {
                        dir += "/";
                    }
                    idx.type = "Carpeta";
                    res += " style=\"background-color:#ffe5a0\"><td><a href=\"#\" onclick=\"getDirectoryList('" + dir + idx.name + "/')\"><i class=\"fa fa-fw fa-folder-open-o\"></i> " + idx.name + "</a></td>";
                } else if (idx.type == "link") {
                    res += "><td><i class=\"fa fa-fw fa-external-link\"></i> " + idx.name + "</td>";
                } else {
                    res += "><td><a href=\"#\" onclick=\"getFile('" + dir + idx.name + "')\"><i class=\"fa fa-fw fa-file-o\"></i> " + idx.name + "</a></td>";
                }

                linkPath = (idx.type == "link") ? " (" + idx.link + ")" : "";

                if (idx.type == "link") {
                    idx.type = "Enlace simbólico";
                }

                res += "<td>" + idx.type + linkPath + "</td><td>" + idx.size + "</td><td>" + idx.umask + "</td><td>" + idx.owner + "</td></tr>";
                $("#explorer-content-list").append(res);
            });
        }, error: function(data) {
            currentDir = dir;
            $("#current_directory").empty().val(dir);
            $("#explorer-content-list").empty().append("<tr><td colspan=\"5\" class=\"danger\">Ha ocurrido un error: " + data.responseJSON.error + "</td></tr>");
        }
    });
}

function getFile(file) {
    file = file.replace(/\/+/g, "/");
    $.ajax({
        url: "{{ url('explorer_cat') }}?file=" + file,
        type: "GET",
        success: function(data) {
            $("#file_name").html(file);
            $("#file_modal").modal();
            editor.setValue(data.content);
        }, error: function(data) {
            toastr.error("Ha ocurrido un error al intentar leer este fichero.");
        }
    });
}

function upOneLevel() {
    var directories = currentDir.split("/");
    directories = "/" + directories.slice(1,-1).slice(0,-1).join("/") + "/";
    getDirectoryList(directories);
}
</script>
{% endblock %}